body{
    font-family:Calibri;
    background-image: url("../img/body.png");
    margin-top: 20px; margin-bottom: 0px; margin-left: auto; margin-right: auto;
    color:#ffffff;
}

a {
    text-decoration:none;
    color:#ffffff;
}

button {
    border-style: none;
    border-width: 0px;
    /*background-color: #E8F2FF;*/
    color: #000000;
    padding: 5px;
    margin: 5px;
    height:35px;
}

button:hover{
    background-color: #6DAFFF;
}

input[type="button"] {
    border-style: none;
    border-width: 0px;
    /*background-color: #E8F2FF;*/
    color: #000000;
    padding: 5px;
    margin: 5px;
    height:35px;
}

input[type="button"]:hover{
    background-color: #6DAFFF;
}

input[type="submit"] {
    border-style: none;
    border-width: 0px;
    /*background-color: #E8F2FF;*/
    color: #000000;
    padding: 5px;
    margin: 5px;
    height:35px;
}

input[type="submit"]:hover{
    background-color: #6DAFFF;
}

input[type="input"] {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    background-color: #EFEFEF;
    color: #212121;
    padding: 5px;
    width: 175px;
    margin: 2px 2px 2px 10px;
}

input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    background-color: #EFEFEF;
    color: #212121;
    padding: 5px;
    width: 175px;
    margin: 2px 2px 2px 10px;
}

textarea{
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    background-color: #EFEFEF;
    color: #212121;
    padding: 5px;
    width: 175px;
    margin: 2px 2px 2px 10px;
}

a:hover{
    text-decoration:none;}

.centro {
    margin-right:auto;
    margin-left:auto;
}

#principal {
    width: 900px;
    height:auto;
    background-color:#202020;
    border-radius:15px;
}

#titulo {
    height:60px;
    font-style:italic;
    font-size:30px;
    padding-top:20px;
    padding-left:20px;
    font-family:Verdana;
}

#separacion_arriba {
    height:3px;
    background-image: url("../img/separacion_arriba.jpg");
}

#menu {
    height:50px;
    font-size:18px;
}

.menu_item {
    float:left;
    height:50px;
    width:120px;
    text-align:center;
}

.menu_item a {
    display:block;
    padding-top:10px;
    height:40px;
    width:100%;
}


#separacion_contenido {
    background-color:#000000;
    height:1px;
}

#contenido {
    background-color:#ffffff;
    position:relative;
}

#separacion_abajo {
    height:8px;
    background-image: url("../img/separacion_abajo.jpg");
}

#footer {
    height: 50px;
    text-align:center;
    padding-top:15px;
    font-size:14px;
}

.map-canvas {
    margin: 0;
    padding: 0;
    height: 500px;
    width:900px;
    float:left;
    color: black;
    position: relative;
}

.map-create {
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
}

#overlay-mapa {
    padding: 0;
    height: 180px;
    width:175px;
    background-color:#202020;
    left:725px;
    position: absolute;
    top:150px;
    text-align: center;
    z-index: 100;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid blue; 
}

/*ESTILOS PARA LA PAGINA DE GRAFICOS*/

.cuadro-paginacion{
    height:20px;
    width:20px;
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
}

.cuadro-paginacion:hover{
    background-color: #D3D3D3;
    color: #ffffff;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(calendar3.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

input.dp-applied {
	width: 140px;
	float: left;
}


/*FIN ESTILOS PARA LA PAGINA DE GRAFICOS*/

div.info{
    alignment-adjust: center;
    width:100% ;
    text-align: center;
}

.botDetalle{
    width:175px;
    height:35px;
    margin-top:10px;
}

.subtitles{
    color: #0099FF;
}

.tablas{
    margin: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
}
.tablasAux{
    width: 95%
}

.titulo{
                 text-align: left;
                 height: 50%;
             }
             
.subir{
    align: "center";
}

.ft-prev{
    background-color: #000000;
    width:50px;
    text-align: center;
}

.ft-next{
    background-color: #000000;
    width:50px;
    text-align: center;
}

.hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
.hor-minimalist-b tbody tr:hover td
{
	color: #009;
}

.menu_navegacion_subs_sep{
    color:#0099FF; 
    font-weight: bold;
    font-size:16px;
}

.menu_navegacion_subs{
    width: calc(100% - 15px); 
    text-align: left;
    padding-left: 10px;
    border-left-width: 5px;
    border-left-color: #3D3D3D;
    border-left-style: solid;
    color: #E2E2E2;
    font-size:14px;
    background-color: #2D2D2D;
}

.menu_navegacion_subs a{
    color: #CCCCCC;
}

.menu_navegacion_subs a:hover{
/*    text-decoration: underline;
    text-decoration-color: #FF5630;*/
    border-bottom-width: 1px;
    border-bottom-color: #0099FF;
    border-bottom-style: solid;
    color: #ffffff;   
}

.markedDay a.ui-state-default {
    background: green !important;
}

.markedDay a.ui-state-hover {
    background: red !important;
}

#verSub{
    display: block;
    background-color: #F0F0F0;
    width:150px;
    color:#000000;
    height:30px;
    padding-top:5px;
    text-align: center;
    vertical-align: middle;
    margin-left:12px;
}

#verSub:hover{
    background-color: #6DAFFF;
}

.errores_form{
    width: 100%;
    text-align: center;
    color: #df2227;
}