body{
    font-family:Calibri;
    background-image: url("../img/body.png");
    margin-top: 20px; margin-bottom: 0px; margin-left: auto; margin-right: auto;
    color:#ffffff;
}

a {
    text-decoration:none;
    color:#ffffff;
}

a:hover{
    text-decoration:none;}

.centro {
    margin-right:auto;
    margin-left:auto;
}

#principal {
    width: 900px;
    height:auto;
    background-color:#202020;
    border-radius:15px;
}

#titulo {
    height:60px;
    font-style:italic;
    font-size:30px;
    padding-top:20px;
    padding-left:20px;
    font-family:Verdana;
}

#separacion_arriba {
    height:3px;
    background-image: url("../img/separacion_arriba.jpg");
}

#menu {
    height:50px;
    font-size:18px;
}

.menu_item {
    float:left;
    height:50px;
    width:120px;
    text-align:center;
}

.menu_item a {
    display:block;
    padding-top:10px;
    height:40px;
    width:100%;
}

#separacion_contenido {
    background-color:#000000;
    height:1px;
}

#contenido {
    background-color:#ffffff;
    position:relative;
}

#separacion_abajo {
    height:8px;
    background-image: url("../img/separacion_abajo.jpg");
}

#footer {
    height: 50px;
    text-align:center;
    padding-top:15px;
    font-size:14px;
}

.map-canvas {
    margin: 0;
    padding: 0;
    height: 500px;
    width:670px;
    float:left;
}

.map-create {
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
}

#overlay-mapa {
    padding: 0;
    height: 500px;
    width:230px;
    background-color:aqua;
    margin-left:670px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid blue; 
}

/*ESTILOS PARA LA PAGINA DE GRAFICOS*/

.cuadro-paginacion{
    height:20px;
    width:20px;
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
}

.cuadro-paginacion:hover{
    background-color: #D3D3D3;
    color: #ffffff;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(calendar3.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

input.dp-applied {
	width: 140px;
	float: left;
}


/*FIN ESTILOS PARA LA PAGINA DE GRAFICOS*/

div.info{
    alignment-adjust: center;
    width:100% ;
    text-align: center;
    
}

.subtitles{
    color: #0099FF;
}

.botones{
    alignment-adjust: center; 
}

.tablas{
    alignment-adjust: center;
    width: 100%
}
.tablasAux{
    width: 95%
}

.prueba{
    text-align: middle;
    font-size: 22px;
   height: 50%;     
                 margin: 20px 0px;
}

.titulo{
                 text-align: left;
                 height: 50%;
             }
             
td.detalles {
    width: 150px;
    alignment-adjust: middle;
}